@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*, *::before, *::after { box-sizing: border-box }

:root {
  --dark-1: #181818;
  --dark-2: #202020;
  --dark-3: #242424;
  --dark-4: #323232;
  --light-1: #e7e7e7;
  --light-2: #dfdfdf;
  --light-3: #dbdbdb;
  --light-4: #cdcdcd;
  --white: #fff;
  --black: #000;
  --text: #ddd;
}

body {
  font-family: "Poppins", sans-serif;
  justify-content: center;
  height: 100vh;
  color: var(--white);
  background-color: var(--dark-2);
}

html, body {
    margin: 0px; padding: 0px
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--white);
  cursor: pointer;
}

h1 {
  font-size: 64px;
}
hr {
  filter: blur(1px);
  height: 2px;
  background-color: var(--dark-4);
  border: none;
  width: calc(100% - 50px);
}

button {
  all: unset;
}

button:focus {
  outline: revert;
}

.bottom-text {
  font-size: 32px;
}

.main-section {
  font-weight: 600;
  margin: auto;
  font-size: 10vmin;
  height: 100svh;
  
  text-align: center;
}

.maincontent {
  height: 75svh;
  padding-inline: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  all: unset;
  opacity: 0;
  height: 0px;
  visibility: collapse;
  font-size: 0px;
  opacity: 0;
  margin-block: 0px;
}

.hide .material-symbols-outlined{
  all: unset;
  opacity: 0;
  height: 0px;
  visibility: collapse;
  font-size: 0px;
  opacity: 0;
}

.material-symbols-outlined{
  user-select: none;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  transform: translateY(-100%);
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.readButton {
  font-size: 16px;
  padding: 16px;
  border-radius: 32px;
  color: var(--dark-1);
  background-color: var(--white);
  transition: 350ms;
  min-width: 64px;
  text-align: center;
}
.readButton:hover {
  color: var(--white);
  background-color: var(--dark-1);
  cursor: pointer;
}
.readButtonWrapper{
  text-decoration: none;
}

.articles {
  min-height: 100svh;
  padding: 32px;
}

.articlesTitle {
  text-align: center;
}

.card {
  margin-block: 32px;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-areas: "image text";
}

.imageImage{
  border-radius: 32px;
  aspect-ratio: 16/9;
  object-fit: cover;
  display: block;
  max-height: 250px;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.image {
  margin: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: image;
}

.text {
  grid-area: text;
  padding: 16px;
}
.cardTitle{
  font-size: 48px;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--dark-1);
    padding: 70px 0;
}
.footer-col{
   width: 50%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: var(--white);
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--white);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: var(--white);
	text-decoration: none;
	font-weight: 300;
	color: var(--light-4);
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:active{
	color: var(--white);
	padding-left: 8px;
}

.showMore{
  display: none;
  size: 0px;
  user-select: none;
}

.showMoreText{
  text-align: center;
  width: 100%;
  font-size: 20px;
  user-select: none;
}

.showMoreLink{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 24px;
  user-select: none;
}

.search{
  all: unset;
  display: flex;
  align-items: center;
  width: calc(100% - 16px);
  margin-inline: auto;
  font-size: 24px;
  width: 800px;
  padding: 8px 16px 8px 16px;
  max-width: 80%;
  background-color: var(--dark-3);
  border-radius: 999px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.searchInput{
  display: inline-block;
  all: unset;
  height: 100%;
  width: 100%;
  margin-left: 8px;
}

.colourModeSwitch{
  position: fixed;
  z-index: 999;
  right: 16px;
  top: 16px;
  cursor: pointer;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@media screen and (max-width: 900px) {

  .card {
    padding: 16px;
    display: block; 
  }
  .articles {
    padding: 0px;
  }
  .image {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imageImage{
    max-width: 500px;
    margin: 16px;
    aspect-ratio: 4/3;
    width: 90%;
  }
  h1 {
    font-size: 48px;
  }
  .cardTitle{
    font-size: 24px;
  }
  .main-section {
    font-size: 48px;
  }
  .bottom-text {
    font-size: 16px;
  }
  .maincontent {
    height: 80svh;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 48px;
  }
  .search{
    font-size: 16px;
  }
}

::-moz-selection {
  color: var(--dark-1);
  background: var(--white);
}

::selection {
  color: var(--dark-1);
  background: var(--white);
}
